---
layout: default
title: Web Development Agency
tagline: Supporting tagline
technologies_list:
  -
    name: Ruby on Rails
    url: http://rubyonrails.org/
  -
    name: CoffeeScript
    url: http://coffeescript.org/
  -
    name: Rspec
    url: http://rspec.info/
  -
    name: MongoDB
    url: http://www.mongodb.org
  -
    name: PostgreSQL
    url: http://www.postgresql.org/
  -
    name: Bootstrap
    url: http://twitter.github.com/bootstrap/
---
{% include JB/setup %}
<div id="home-jumbotron" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Web Development Agency</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>Technologies</h2>
      <p>Each product requires careful decision making. These are the technologies we prefer</p>
      {% for technology in page.technologies_list %}
        <a class="btn btn-link" href="{{technology.url}}">{{technology.name}}</a>
      {% endfor %}
    </div>
    <div class="col-lg-12">
      <h2>Portfolio</h2>
      <div class="row">
        <div class="col-lg-12">
          <h3>Minstrels</h3>
        </div>
        <div class="col-lg-12">
          <h3>icare</h3>
        </div>
      </div>
    </div>
  </div>
</div>
