---
layout: default
title: Web Development Agency
tagline: Supporting tagline
technologies_list:
  -
    title: Ruby on Rails
    url: http://rubyonrails.org/
    image: /assets/images/Ruby-on-Rails.png
  -
    title: CoffeeScript
    url: http://coffeescript.org/
    image: /assets/images/CoffeeScript.png
  -
    title: Bootstrap
    url: http://twitter.github.com/bootstrap/
    image: /assets/images/Bootstrap.png
  -
    title: MongoDB
    url: http://www.mongodb.org
    image: /assets/images/MongoDB.png
  -
    title: PostgreSQL
    url: http://www.postgresql.org/
    image: /assets/images/PostgreSQL.png
products:
  -
    title: Company Carpool
    url: www.companycarpool.com
    image: /assets/images/companycarpool.jpg
    description: A solution for companies and organizations interested in providing carpooling to their employees.
  -
    title: Minstrels
    url: beta.minstrels.com
    image: /assets/images/minstrels.jpg
    description: Minstrels is a social network designed for travelers. Members share travel stories, meet fellow travelers and ask for or offer hospitality.
  -
    title: icare
    url: icare.diowa.com
    github: diowa/icare
    image: /assets/images/icare.jpg
    description: icare is an open source carpooling platform used as basis for Company Carpool and other customized enterprise solutions.
---
{% include JB/setup %}
<div id="home-jumbotron" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Web Development Agency</h1>
      </div>
    </div>
  </div>
</div>
<div class="container home-container">

  <!-- Products -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center home-title">Our products</h2>
    </div>
  </div>
  {% for product in page.products %}
    <div class="row row-product">
      <div class="col-sm-5">
        <a href="http://{{product.url}}" class="thumbnail"><img class="img-responsive img-product" src="{{product.image}}"/></a>
      </div>
      <div class="col-sm-7">
        <h3>{{product.title}}</h3>
        <p>
          {{product.description}}
        </p>
        <p>
          <i class="icon-globe"></i> <a href="http://{{product.url}}">{{product.url}}</a>
          {% if product.github %}
            <br>
            <i class="icon-github"></i> <a href="http://github.com/{{product.github}}">{{product.github}}</a>
          {% endif %}
        </p>
      </div>
    </div>
  {% endfor %}

  <!-- Technologies -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center home-title">Technologies</h2>
      <ul class="nav nav-justified">
      {% for technology in page.technologies_list %}
        <li>
          <a href="{{technology.url}}"><img class="img-technology" alt="{{technology.title}}" src="{{technology.image}}"/></a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
