@import "twbs-variables";
@import "twbs/bootstrap/mixins";

article {
  h1, .h1 {
    font-size: ceil($font-size-base * 3.25);
  }
  h2, .h2 {
    font-size: ceil($font-size-base * 2.7);
  }
  h3, .h3 {
    font-size: ceil($font-size-base * 2.25);
  }
  h4, .h4 {
    font-size: ceil($font-size-base * 1.7);
  }
  h5, .h5 {
    font-size: ceil($font-size-base * 1.25);
  }
  h6, .h6 {
    font-size: $font-size-base;
  }
  .content {
    font-size: 1.25em;
    line-height: 1.7;
    p, pre, ul, ol {
      margin-bottom: 1.25em;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: $font-family-base;
      margin-top: 40px;
    }
    h1, h2, h3 {
      letter-spacing: -1px;
    }
    pre code {
      font-size: $font-size-base;
    }
  }
  & + article {
    margin-top: 2.5em;
    border-top: 1px solid $hr-border;
    padding-top: 1.25em;
  }
}

.excerpt-link {
  color: $gray !important;
  text-decoration: none !important;
}

@media (min-width: #{$grid-float-breakpoint}) {
  .nav-blog {
    margin: 40px 0 20px;
    background: lighten($gray-lighter, 5%);
    li {
      > a {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}
