@import "twbs-variables";
@import "twbs/bootstrap/mixins";

.navbar-brand {
  padding: 14px 15px;
  img {
    height: 32px;
  }
}

@media (min-width: #{$screen-sm-min}) {
  .navbar {
    .navbar-nav {
      > li > a {
        text-transform: uppercase;
      }
    }
  }
}
